# Pandas 연습문제 page39~41
- 1) Iris - sns.load_dataset('iris') 
<pre>
a. 붓꽃 종(species)별로 꽃잎길이(sepal_length), 꽃잎폭(sepal_width), 꽃받침길이(petal_length), 
꽃받침폭(petal_width)의 평균, 표준편차 등 기초통계량(describe())을 구하시오.

b. 3분위수(Q3)와 1분위수(Q1)의 차이보다 1.5배가 크거나 작은 데이터는 이상치이다. 
즉, 
Q1 - 1.5 * (Q3 - Q1) 보다 작은 데이터 
Q3 + 1.5 * (Q3 - Q1) 보다 큰 데이터
이 이상치를 제거하고 위의 4가지 항목에 대해서 평균, 표준편차를 구하시오.
</pre>

In [89]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [194]:
import seaborn as sns
Iris = sns.load_dataset('iris')

In [195]:
Iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [207]:
# a.
for specie in Iris.species.unique():   # 종류: 'setosa', 'versicolor', 'virginica'; type: array
    print(Iris[Iris.species == specie].describe())

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [233]:
Iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [236]:
# b.
normal_Iris = Iris
columns = normal_Iris.drop(columns=['species']).columns
for column in columns:    # colums: 	sepal_length, sepal_width, petal_length, petal_width
    normal_Iris = normal_Iris[normal_Iris.quantile(0.25)[column] <= normal_Iris[column]] 
    normal_Iris = normal_Iris[normal_Iris[column] <= normal_Iris.quantile(0.75)[column]]
print(normal_Iris.mean())
print(normal_Iris.std())

sepal_length    6.055556
sepal_width     2.983333
petal_length    4.711111
petal_width     1.605556
dtype: float64
sepal_length    0.270560
sepal_width     0.194785
petal_length    0.249444
petal_width     0.151356
dtype: float64

- 3) Mile Per Gallon - sns.load_dataset('mpg')
<pre>
a. 배기량(displacement) 대비 마력(horsepower) 열(hp_per_cc)을 추가하시오.

b. name으로부터 manufacturer(제조사)와 모델을 추출하여
새로운 열 manufacturer와 model을 추가하고, name 열은 삭제하시오.

c. 엔진의 실린더(cylinders) 갯수별 연비(mpg)의 평균을 구하시오.

d. 생산지(origin)별 배기량 대비 마력(hp_per_cc)의 평균을 구하시오.

e. 모델이 5개 이상인 제조사에 대하여
연비(mpg)의 평균이 가장 좋은 제조사 Top 5를 구하시오.
</pre>

In [239]:
import seaborn as sns
mpg = sns.load_dataset('mpg')

mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [240]:
# a.
mpg['hp_per_cc'] = mpg.horsepower / mpg.displacement
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.423453
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.471429
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.471698
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.493421
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.463576

In [241]:
# b.
# name으로부터 제조사 추출
m_m = mpg.name.str.split().tolist()
m_list = []
for manu in m_m:
    m_list.append(manu[0])
mpg['manufacturer'] = m_list

In [242]:
# name으로부터 모델 추출
m_list.clear()
for manu in m_m:
    m_list.append(' '.join(manu[1:]))
mpg['model'] = m_list

In [243]:
# mpg에서 name 칼럼 삭제
mpg.drop(columns=['name'], inplace=True)
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,0.423453,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,0.471429,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,0.471698,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,0.493421,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,0.463576,ford,torino

In [113]:
# c.
mpg.cylinders.unique()      # 연비 종류

array([8, 4, 6, 3, 5], dtype=int64)

In [244]:
for i in range(3, 9):
    if i == 7:
        continue
    m = mpg[mpg.cylinders == i].mpg.mean()
    print(f'실린더 {i}는 연비 평균이 {m:.2f} 입니다.', )

실린더 3는 연비 평균이 20.55 입니다.
실린더 4는 연비 평균이 29.29 입니다.
실린더 5는 연비 평균이 27.37 입니다.
실린더 6는 연비 평균이 19.99 입니다.
실린더 8는 연비 평균이 14.96 입니다.

In [127]:
# d.
mpg.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [245]:
for i in mpg.origin.unique():
    p = mpg[mpg.origin == i].horsepower.mean()
    print(f'{i}의 평균 마력: {p:.2f}')

usa의 평균 마력: 119.05
japan의 평균 마력: 79.84
europe의 평균 마력: 80.56

In [166]:
# e.
_mpg = mpg
manu_dictionary = _mpg.manufacturer.value_counts()      # renault 위로 브랜드가 5개 이상이라는 것을 알 수 있다.

In [251]:
# type(manu_dictionary) 을 통해 manu_dictionary가 Series라는 것을 알 수 있다.
model_mean = {}
for key, value in manu_dictionary.items():
    if value >= 5:      # model 5개 이상인 제조사
        model_mean[key] = mpg[mpg.manufacturer.str.contains(key)].mpg.mean()
sorted_model =  sorted(model_mean.items(), key = lambda item: item[1], reverse = True)  # value값으로 내림차순
for i in range(5):
    a, b = sorted_model[i]
    print(a)

vw
honda
renault
datsun
mazda