<pre>
데이터 다루기 미니 프로젝트
</pre>

<pre>
CCTV 데이터 정리하기
</pre>

In [220]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [221]:
# 데이터 파일 읽기
filename = 'cctv.csv'
cctv = pd.read_csv(filename, skiprows = 1, encoding='EUC-KR', thousands=',')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,83557,4812,1851.0,3434.0,4295,6840,8708,11572,10627,12267,11247,7904
1,종로구,1715,815,NaN,NaN,195,150,0,261,85,9,200,0
2,중 구,2447,16,114.0,87.0,77,236,240,372,386,155,361,403
3,용산구,2611,34,71.0,234.0,125,221,298,351,125,307,617,228
4,성동구,3829,163,144.0,208.0,107,325,255,967,415,490,472,283

In [222]:
# Null data 있는지 확인하기
cctv.isna().sum().sum()

2

In [223]:
# Null data는 0으로 채우기
cctv.fillna(0, inplace=True)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,83557,4812,1851.0,3434.0,4295,6840,8708,11572,10627,12267,11247,7904
1,종로구,1715,815,0.0,0.0,195,150,0,261,85,9,200,0
2,중 구,2447,16,114.0,87.0,77,236,240,372,386,155,361,403
3,용산구,2611,34,71.0,234.0,125,221,298,351,125,307,617,228
4,성동구,3829,163,144.0,208.0,107,325,255,967,415,490,472,283

In [224]:
cctv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
구분          26 non-null object
총계          26 non-null int64
2012년 이전    26 non-null int64
2012년       26 non-null float64
2013년       26 non-null float64
2014년       26 non-null int64
2015년       26 non-null int64
2016년       26 non-null int64
2017년       26 non-null int64
2018년       26 non-null int64
2019년       26 non-null int64
2020년       26 non-null int64
2021년       26 non-null int64
dtypes: float64(2), int64(10), object(1)
memory usage: 2.7+ KB

In [225]:
# 3. 1000 단위 구분기호 없애고 정수로 변환하기 thousand=','
cctv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
구분          26 non-null object
총계          26 non-null int64
2012년 이전    26 non-null int64
2012년       26 non-null float64
2013년       26 non-null float64
2014년       26 non-null int64
2015년       26 non-null int64
2016년       26 non-null int64
2017년       26 non-null int64
2018년       26 non-null int64
2019년       26 non-null int64
2020년       26 non-null int64
2021년       26 non-null int64
dtypes: float64(2), int64(10), object(1)
memory usage: 2.7+ KB

In [226]:
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,83557,4812,1851.0,3434.0,4295,6840,8708,11572,10627,12267,11247,7904
1,종로구,1715,815,0.0,0.0,195,150,0,261,85,9,200,0
2,중 구,2447,16,114.0,87.0,77,236,240,372,386,155,361,403
3,용산구,2611,34,71.0,234.0,125,221,298,351,125,307,617,228
4,성동구,3829,163,144.0,208.0,107,325,255,967,415,490,472,283

In [227]:
# 2021년을 제외한 최근 3개년간의 CCTV 증가율 구하기
cctv['최근증가율'] = cctv[['2018년','2019년','2020년']].sum(axis=1) / cctv[['2012년 이전',
                    '2012년','2013년','2014년','2015년','2016년','2017년']].sum(axis=1) * 100
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율
0,계,83557,4812,1851.0,3434.0,4295,6840,8708,11572,10627,12267,11247,7904,82.243689
1,종로구,1715,815,0.0,0.0,195,150,0,261,85,9,200,0,20.689655
2,중 구,2447,16,114.0,87.0,77,236,240,372,386,155,361,403,78.984238
3,용산구,2611,34,71.0,234.0,125,221,298,351,125,307,617,228,78.635682
4,성동구,3829,163,144.0,208.0,107,325,255,967,415,490,472,283,63.485477

In [228]:
# 구분, 총계, 최근증가율 컬럼만 추출하기
inc_cctv = cctv['구분 총계 최근증가율'.split()]
inc_cctv.head()

    구분     총계      최근증가율
0    계  83557  82.243689
1  종로구   1715  20.689655
2  중 구   2447  78.984238
3  용산구   2611  78.635682
4  성동구   3829  63.485477

In [229]:
# 컬럼명을 구별, CCTV댓수로 변경하기
inc_cctv.rename(columns={'구분':'구별', '총계':'CCTV댓수'}, inplace=True)
inc_cctv.head()

    구별  CCTV댓수      최근증가율
0    계   83557  82.243689
1  종로구    1715  20.689655
2  중 구    2447  78.984238
3  용산구    2611  78.635682
4  성동구    3829  63.485477

In [230]:
# 구 이름에서 공백지우기
inc_cctv['구별'] = inc_cctv['구별'].apply(lambda x: ''.join(x.split()))
inc_cctv.head()

    구별  CCTV댓수      최근증가율
0    계   83557  82.243689
1  종로구    1715  20.689655
2   중구    2447  78.984238
3  용산구    2611  78.635682
4  성동구    3829  63.485477

In [231]:
# 첫번째 행(계) 지우기
inc_cctv.drop(0, inplace=True)
inc_cctv.head()

    구별  CCTV댓수       최근증가율
1  종로구    1715   20.689655
2   중구    2447   78.984238
3  용산구    2611   78.635682
4  성동구    3829   63.485477
5  광진구    3211  112.292359

<pre>
인구 데이터 정리하기
</pre>

In [232]:
# 데이터 파일 읽기
filename = 'Seoul_population.txt'
pop = pd.read_csv(filename, skiprows = 2, sep='\t', thousands=',')
pop.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2021,합계,4426007,9736027,4721977,5014050,9509458,4618040,4891418,226569,103937,122632,2.15,1605416
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380

In [233]:
# Null data 있는지 확인하기
pop.isna().sum().sum()

0

In [234]:
# '자치구','계','계.1','계.2','65세이상고령자‘ 컬럼만 추출하고 이름을 '구별','인구수','내국인','외국인','고령자'로 변경
pop.rename(columns={'자치구':'구별','계':'인구수','계.1':'내국인','계.2':'외국인','65세이상고령자':'고령자'}, inplace=True)
pop.head()

,기간,구별,세대,인구수,남자,여자,내국인,남자.1,여자.1,외국인,남자.2,여자.2,세대당인구,고령자
0,2021,합계,4426007,9736027,4721977,5014050,9509458,4618040,4891418,226569,103937,122632,2.15,1605416
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380

In [235]:
# 1000 단위 구분기호 없애고 정수로 변환하기 => thousand=','
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
기간       26 non-null int64
구별       26 non-null object
세대       26 non-null int64
인구수      26 non-null int64
남자       26 non-null int64
여자       26 non-null int64
내국인      26 non-null int64
남자.1     26 non-null int64
여자.1     26 non-null int64
외국인      26 non-null int64
남자.2     26 non-null int64
여자.2     26 non-null int64
세대당인구    26 non-null float64
고령자      26 non-null int64
dtypes: float64(1), int64(12), object(1)
memory usage: 2.9+ KB

In [236]:
# 첫번째 행 지우기
pop.drop(0, inplace=True)
pop.head()

,기간,구별,세대,인구수,남자,여자,내국인,남자.1,여자.1,외국인,남자.2,여자.2,세대당인구,고령자
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380
5,2021,광진구,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723

In [237]:
# '외국인비율‘과 '고령자비율‘ 컬럼 만들기
pop['외국인비율'] = pop['외국인'] / pop['인구수']
pop['고령자비율'] = pop['고령자'] / pop['인구수']
pop.head()

,기간,구별,세대,인구수,남자,여자,내국인,남자.1,여자.1,외국인,남자.2,여자.2,세대당인구,고령자,외국인비율,고령자비율
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818,0.059211,0.180884
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392,0.070477,0.185087
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070,0.060400,0.164654
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380,0.022831,0.158471
5,2021,광진구,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723,0.035820,0.146679

In [245]:
# 구 이름에 공백이 있으면 공백지우기
pop['구별'] = pop['구별'].apply(lambda x: ''.join(x.split()))
pop.head()

,기간,구별,세대,인구수,남자,여자,내국인,남자.1,여자.1,외국인,남자.2,여자.2,세대당인구,고령자,외국인비율,고령자비율
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818,0.059211,0.180884
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392,0.070477,0.185087
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070,0.060400,0.164654
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380,0.022831,0.158471
5,2021,광진구,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723,0.035820,0.146679

<pre>
CCTV 데이터와 인구 데이터 합치고 저장하기
</pre>

In [239]:
inc_cctv.head()

    구별  CCTV댓수       최근증가율
1  종로구    1715   20.689655
2   중구    2447   78.984238
3  용산구    2611   78.635682
4  성동구    3829   63.485477
5  광진구    3211  112.292359

In [240]:
pop.head()

,기간,구별,세대,인구수,남자,여자,내국인,남자.1,여자.1,외국인,남자.2,여자.2,세대당인구,고령자,외국인비율,고령자비율
1,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818,0.059211,0.180884
2,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392,0.070477,0.185087
3,2021,용산구,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070,0.060400,0.164654
4,2021,성동구,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380,0.022831,0.158471
5,2021,광진구,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723,0.035820,0.146679

In [241]:
# 데이터 합치기
cctv_pop = pd.merge(inc_cctv, pop, on=['구별'])
cctv_pop.head()

,구별,CCTV댓수,최근증가율,기간,세대,인구수,남자,여자,내국인,남자.1,여자.1,외국인,남자.2,여자.2,세대당인구,고령자,외국인비율,고령자비율
0,종로구,1715,20.689655,2021,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818,0.059211,0.180884
1,중구,2447,78.984238,2021,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392,0.070477,0.185087
2,용산구,2611,78.635682,2021,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070,0.060400,0.164654
3,성동구,3829,63.485477,2021,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380,0.022831,0.158471
4,광진구,3211,112.292359,2021,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723,0.035820,0.146679

In [242]:
# ‘구별’ 컬럼을 인덱스로 만들기
cctv_pop.set_index('구별', inplace=True)
cctv_pop.head()

,CCTV댓수,최근증가율,기간,세대,인구수,남자,여자,내국인,남자.1,여자.1,외국인,남자.2,여자.2,세대당인구,고령자,외국인비율,고령자비율
구별,,,,,,,,,,,,,,,,,
종로구,1715,20.689655,2021,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818,0.059211,0.180884
중구,2447,78.984238,2021,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392,0.070477,0.185087
용산구,2611,78.635682,2021,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070,0.060400,0.164654
성동구,3829,63.485477,2021,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380,0.022831,0.158471
광진구,3211,112.292359,2021,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723,0.035820,0.146679

In [243]:
# 합친 데이터를 cctv_pop.csv로 저장하기
cctv_pop.to_csv("cctv_pop.csv", mode='w')

In [251]:
# 검증 차원에서 cctv_pop.csv에서 데이터 읽어서 확인하기
filename = "cctv_pop.csv"
cctv_pop = pd.read_csv(filename, sep=',', index_col=0)
cctv_pop.head()

,CCTV댓수,최근증가율,기간,세대,인구수,남자,여자,내국인,남자.1,여자.1,외국인,남자.2,여자.2,세대당인구,고령자,외국인비율,고령자비율
구별,,,,,,,,,,,,,,,,,
종로구,1715,20.689655,2021,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818,0.059211,0.180884
중구,2447,78.984238,2021,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392,0.070477,0.185087
용산구,2611,78.635682,2021,111036,237285,115085,122200,222953,107210,115743,14332,7875,6457,2.01,39070,0.060400,0.164654
성동구,3829,63.485477,2021,134233,292672,142259,150413,285990,139380,146610,6682,2879,3803,2.13,46380,0.022831,0.158471
광진구,3211,112.292359,2021,167949,352627,169317,183310,339996,164058,175938,12631,5259,7372,2.02,51723,0.035820,0.146679