In [2]:
# 크롤링
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import re
import time
from tqdm.notebook import tqdm
import requests

In [20]:
# user_agent 등의 웹 크롤링을 위한 수집준비를 하였는가?
url = 'https://finance.naver.com/item/sise_day.nhn?code=005930&page=1'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36'}
req = requests.get(url, headers=header)
soup = BeautifulSoup(req.text, 'html.parser')

In [21]:
trs = soup.select(".type2 > tr")
trs = trs[2:7] + trs[-6:-1]
len(trs)

10

In [22]:
tr = trs[0]
# 날짜
date = tr.select_one('.tah.p10.gray03').get_text()
date

'2022.05.02'

In [23]:
# ‘종가’ 데이터만 추출하였는가?

# 데이터 전처리로 금액사이의 콤마를 제거하였는가?
price = tr.select_one('.tah.p11').get_text()
# 데이터 전처리로 DataFrame의 숫자형식의
# 문자열 데이터를 숫자로 변환하였는가?
price = int(re.sub('[^0-9]', '', price))
price

67300