In [184]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [185]:
pop = pd.read_csv('data/각 지역별 커피 매장수_전처리완료.csv')
print(pop.shape)
pop.head()

(247, 6)

   시도명 시군구명  빽다방  스타벅스   이디야  커피빈
0  강원도  강릉시  2.0   4.0  17.0  0.0
1  강원도  고성군  0.0   1.0   0.0  0.0
2  강원도  동해시  1.0   1.0   1.0  1.0
3  강원도  삼척시  1.0   0.0   5.0  0.0
4  강원도  속초시  0.0   4.0   9.0  0.0

In [186]:
len(pop.시군구명.unique())      # 이름이 같은 다른 지역이 있군요...

223

In [187]:
tmp_gu_dict = {
    '수원': ['장안구', '권선구', '팔달구', '영통구'],
    '성남': ['수정구', '중원구', '분당구'],
    '안양': ['만안구', '동안구'],
    '안산': ['상록구', '단원구'],
    '고양': ['덕양구', '일산동구', '일산서구'],
    '용인': ['처인구', '기흥구', '수지구'],
    '청주': ['상당구', '서원구', '흥덕구', '청원구'],
    '천안': ['동남구', '서북구'],
    '전주': ['완산구', '덕진구'],
    '포항': ['남구', '북구'],
    '창원': ['의창구', '성산구', '진해구', '마산합포구', '마산회원구']
}

In [188]:
metro_list = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '대전광역시', '광주광역시', '울산광역시']
si_name = [None] * len(pop)

In [189]:
for i in pop.index:
    if pop.시도명[i] in metro_list:
        if len(pop.시군구명[i]) == 2:
            si_name[i] = pop.시도명[i][:2] + ' ' + pop.시군구명[i]      # 서울 중구, 대전 서구
        else:
            si_name[i] = pop.시도명[i][:2] + ' ' + \
                pop.시군구명[i][:-1]      # 서울 용산, 서울 서대문
    else:
        if pop.시군구명[i][:-1] == '고성':
            if pop.시도명[i] == '강원도':
                si_name[i] = '고성(강원)'
            else:
                si_name[i] = '고성(경남)'
        else:
            if pop.시도명[i] == '세종특별자치시':
                si_name[i] = '세종'
            else:
                si_name[i] = pop.시군구명[i][:-1]         # 세종, 광명, 김포, 강릉

        for key, value in tmp_gu_dict.items():
            if pop.시군구명[i] in value:
                if len(pop.시군구명[i]) == 2:
                    si_name[i] = key + ' ' + pop.시군구명[i]      # 포항 북구, 포항 남구
                elif len(pop.시군구명[i]) == 5:
                    si_name[i] = key + ' ' + pop.시군구명[i][2:-1]    # 창원 합포, 창원 회원
                else:
                    si_name[i] = key + ' ' + pop.시군구명[i][:-1]     # 수원 팔달, 용인 수지

In [190]:
# 용인시 기흥
# 포항시 남,경상북도,포항시 남구

In [191]:
pop['ID'] = si_name
pop.shape

(247, 7)

In [192]:
# ID를 인덱스로 변환
pop.set_index('ID', inplace=True)
pop.head(3)

        시도명 시군구명  빽다방  스타벅스   이디야  커피빈
ID
강릉      강원도  강릉시  2.0   4.0  17.0  0.0
고성(강원)  강원도  고성군  0.0   1.0   0.0  0.0
동해      강원도  동해시  1.0   1.0   1.0  1.0

In [193]:
pop.to_csv('data/각 지역별 커피 매장수_ID부여.csv')